﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
just some info
commebnt about how I added nuspec. file again

ok
change
loicesne change

build after 110 master deoploy config
change after error

final stage ok